<div class="container  tilesHolder" ng-controller="activitiesEventCTRL">

    <h1 align="center">Activities near You</h1>

    <div class="span10 "> 
        <div class="row-fluid  tilepanel">
            <div class="span3 tileItems"  ng-animate="{enter:'animated flipInY', leave:' animated fadeOutRightBig'}" 
                 ng-repeat="act in items| filter:search"  ng-click="open(act)" >


                <img ng-src="{{act.imageurl}}" alt="{{act.title}}" >

                <h4>{{act.title}} </h4>


            </div>
        </div>
    </div>
    <div class="span1 filters"> 
        <button class="btn btn-warning btn-large" ng-click="search = 'hotel'" > Hotel Activities </button>
        <button class="btn btn-warning btn-large" ng-click="search = 'Landmark'"  > Landmarks </button>
        <button class="btn btn-warning btn-large"  ng-click="search = 'Marina'"> Sea / Ocean </button>
        <button class="btn btn-warning btn-large"  ng-click="search = 'theater'"> Theater </button>        
        <button class="btn btn-warning btn-large"  ng-click="search = 'lookout'">City Sights</button>

        <button class="btn btn-warning btn-large" ng-click="search = ''" > All </button>
    </div>








    <div modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">

            <button class="btn btn-info btn-large pull-right" ng-click="close()">Home</button>
            <h1 align="center"> {{siteTarget.title}}</h1>
        </div>
        <div class="modal-body foodData">
            <button class="btn btn-large btn-primary"  ng-click="tab = 'insight'">Insights </button>

            <button class="btn btn-large btn-success" ng-click="tab = 'directions';
                    dir()"> Directions </button>
            <button class="btn btn-large btn-warning"  ng-click="tab = 'mobile';
                    dir()"  >Mobile Directions</button>

            <br>

            <br>
            <div class="container-fluid"  ng-switch  on="tab">

                <div ng-switch-when="insight">



                    <div class="ratingInfo">

                        <h2>Social Ratings</h2>
                        <h4>Rated: <rating value="siteTarget.rating" max="max" readonly="true" ></rating> {{siteTarget.rating}}</h4>
                        <h4>Ranked {{siteTarget.socialrankings[0].rank|number}} out of {{siteTarget.socialrankings[0].total|number}} </h4>
                        <h4> {{siteTarget.totalwerehere|number}} were here</h4>
                    </div>
                    <h2 class="chartTitle">Traffic Volume</h2>
                    <canvas class="favDay" barchart options="options" data="chart" width="500" height="300"></canvas>

                    <div class="span8 offset3 sliders">

                        <h2 align="center">Instagram Feed</h2>
                        <carousel interval="2500">
                            <slide ng-repeat="img in siteTarget.gallery" active="slide.active">
                                <img ng-src="{{img.url_large}}" style="margin:auto;">
                            </slide>
                        </carousel>

                    </div>

                </div> 
                <div ng-switch-when="directions"> 
                    <div class="row-fluid">

                        <div class="span8">
                            <div id="map-canvas"></div>
                        </div>

                        <div class="span3" id="directionsHolder">

                        </div>
                    </div>
                </div>
                <div ng-switch-when="mobile"> 
                    <div class="row-fluid">
                        
                     

                        <div class="span12"  >

                            <div class="span4  mobDir">
                                <em>
                                    Get a link to your email

                                </em>

                                <input id="usermail" type="email" ng-model="userEmail"  class="search-query">
                                <p ng-show="mailSent">Mail has been sent, thank you for registering. Click "Home" to continue</p>
                                <button class="btn btn-success  btn-large" ng-show="mailSent" ng-click="close()">Home</button>
                                <button class="btn btn-large btn-primary" ng-show="!mailSent" ng-click="sendTheMail()"> Send email </button>
                                <h1  >-OR-</h1>
                                <em>
                                    Scan the QR code for a link with directions    

                                </em>
                                <iframe  class="qrcodeFrame" ng-src="http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl={{qrcode}}"  >
                                </iframe>

                            </div>   
                        </div>
                    </div>
                </div>
            </div>





        </div> 
    </div>


</div>